<div class="contentpanel">
    <div class="panel-body">
        <form class="form-inline files_tab" name="searchForm" ng-submit="search()">
            <button id="uploadImg" class="btn btn-success btn-xs padd">
                <input class="btn btn-success btn-sm" type="file" file-upload="upload">
                <a href="#">选择文件</a>
            </button>
            <a class="btn btn-success btn-sm" ng-click="beginImport()">导入</a>
            <div class="form-group">
                <select name="state" ng-model="option.state">
                    <option value="">全部状态</option>
                    <option value="dispatch">待分配</option>
                    <option value="confirm">待确认</option>
                    <option value="transport">运送中</option>
                    <option value="arrive">已送达</option>
                    <option value="appraise">已评价</option>
                </select>
            </div>
            <div class="form-group">
                运单生成
                <input class="form-control" name="beginTime" ng-model="option.begin_time" placeholder="开始时间" type="date"> ~
                <input class="form-control datepicker" name="endTime" ng-model="option.end_time" placeholder="结束时间" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="mobile" ng-model="option.mobile" placeholder="请输入您要查找的运单号" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="orderId" ng-model="option.orderId" placeholder="请输入您要查找的货主手机号" type="text">
            </div>
            <input class="btn btn-primary btn-xs" type="submit" value="搜索"></input>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>司机手机号</th>
                <th>司机姓名</th>
                <th>货主手机</th>
                <th>货物名称</th>
                <th>货物数量/吨</th>
                <th>错误原因</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fails">
                <td>{{item.row}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.consignee_name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.cargoo_name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.message}}</td>
            </tr>
        </tbody>
    </table>
<<<<<<< HEAD
    <div>
=======
    <div class="panel-footer">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="currentPage" ng-change="search()"></pagination>
    </div>
    <div class="upload-modal">
<<<<<<< HEAD
>>>>>>> d83bc3b412153a8a4a5cb3bdd99ade08fcec3983
=======
>>>>>>> d83bc3b412153a8a4a5cb3bdd99ade08fcec3983
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
</div>
