<div class="contentpanel">
    <div class="panel-body order-d">
        <form class="form-horizontal form-bordered" ng-submit="update()" name="orderForm" novalidate>
            <div class="form-group">
                <label class="col-sm-1 control-label">运单号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.order_number" readonly>
                </div>
                <label class="col-sm-1 control-label">生成日期</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.created_time" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">司机手机号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.consignee_name" readonly>
                </div>
                <label class="col-sm-1 control-label">司机姓名</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.consigneeName" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">车牌号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.license" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">货主手机号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.consignor_name" readonly>
                </div>
                <label class="col-sm-1 control-label">公司名称</label>
                <div class="col-sm-2">
                    <input type="text" name="company_name" class="form-control" ng-model="item.company_name" ng-maxlength="20">
                    <span ng-show="orderForm.origin.$error.maxlength" class="error">不要超过20个字</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">货物分类</label>
                <div class="col-sm-2">
                    <select name="category" ng-options="category.id as category.name for category in categories" ng-model="item.category" ng-change="changeState(item.category)" ng-required="true">
                        <option value="">--请选择--</option>
                    </select>
                    <span ng-show="orderForm.category.$dirty&&orderForm.category.$error.required" class="error">请输入货物分类</span>
                </div>
                <label class="col-sm-1 control-label">货物名称</label>
                <div class="col-sm-2">
                    <select name="cargoo_name" ng-options="name.id as name.name for name in cargooNames" ng-model="item.cargoo_name" ng-required="true">
                        <option value="">--请选择--</option>
                    </select>
                    <span ng-show="orderForm.cargoo_name.$dirty&&orderForm.cargoo_name.$error.required" class="error">请输入货物名称</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">始发地</label>
                <div class="col-sm-2">
                    <input type="text" name="origin" class="form-control" ng-model="item.origin" ng-maxlength="50">
                    <span ng-show="orderForm.origin.$error.maxlength" class="error">不要超过50个字</span>
                </div>
                <label class="col-sm-1 control-label">目的地</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="item.destination" ng-maxlength="50">
                    <span ng-show="orderForm.origin.$error.maxlength" class="error">不要超过50个字</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">到货时间</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="item.etd">
                </div>
                <label class="col-sm-1 control-label">数量/吨</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" ng-model="item.quantity">
                </div>
            </div>
            <div class="ml100 mt20">
                <button class="btn btn-primary">确认修改</button>
                <button class="btn btn-default">撤销运单</button>
                <a href="#/tabs/order" class="btn btn-default">返回</a>
                <a href="#/tabs/order/{{item.id}}/map" class="btn btn-default">地图</a>
            </div>
        </form>
    </div>
</div>
