<div class="contentpanel">
    <div class="panel-body user_d">
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>运单数总计</dt>
                <dd>{{item.all}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>app自主运单数</dt>
                <dd>{{item.app}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>电商系统运单数</dt>
                <dd>{{item.out}}</dd>
            </dl>
        </div>
        <div class="col-md-12 hd">状态统计</div>
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>待分配</dt>
                <dd>{{item.dispatch}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>待确认</dt>
                <dd>{{item.confirm}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>运送中</dt>
                <dd>{{item.transport}}</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>已送达</dt>
                <dd>{{item.arrive}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>已评价</dt>
                <dd>{{item.appraise}}</dd>
            </dl>
            <dl class="col-md-2">
                <dt>已撤销</dt>
                <dd>{{item.refuse}}</dd>
            </dl>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
