<div class="contentpanel">
    <div class="panel-body user_d order_d">
        <div class="col-md-12">
            <dl class="col-md-2 aaa">
                <dt>注册用户数总计</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>货主总注册</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>司机总注册数</dt>
                <dd>124346</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>今日注册数</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>近30日注册数</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>近7日注册数</dt>
                <dd>124346</dd>
            </dl>
        </div>
    </div>
</div>