@import url('bootstrap.min.css');
@import url('bootstrap-override.css');
/********** 2. RESET STYLES **********/
/*************************************/

body {
    font-size: 14px;
    color: #636E7B;
    overflow:hidden;
    background-color: #fff;
    font-family: 'Microsoft Yahei'
}

a {
    outline: none !important;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
/********** 3. HEADER STYLES **********/
/**************************************/
.user_d dl {
    margin: 0 20px 30px;
    padding: 0;
    border: 1px solid #ddd;
}

.user_d dt {
    line-height: 30px;
    background: #ddd;
    border-bottom: 1px solid #ccc;
}

.user_d dt,
.user_d dd {
    text-align: center;
    line-height: 35px;
}

.user_d .hd {
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 18px;
    width: 120px;
}

.messages_box select {
    width: 180px;
    padding: 2px 0;
}

.messages_box .form-group {
    border: none;
}

.messages_box textarea {
    width: 400px;
    height: 200px;
}

.order-d select {
    width: 150px;
    padding: 4px 0;
}

.cargoo_d {
    width: 70%;
}

.w180 {
    width: 190px;
    padding-right: 0;
}

.detail_txt {
    width: 500px;
    height: 100px;
}
.mt20{
    margin-top: 20px;
}
.ml30 {
    margin-left: 30px;
}

.type_file {
    margin-top: 85px;
}

.pl30 {
    padding-left: 30px;
}

.cargooAdd_d input {
    width: 430px;
}

.cargooAdd_d textarea {
    width: 470px;
    height: 150px;
}

.cargooAdd_d {
    width: 500px;
}

.btn_gp {
    padding: 0 140px;
}

.cargooAdd_d .ml30 {
    padding-left: 0;
}

.tab-rows span {
    display: block;
    border-bottom: 1px solid #ddd;
}

.tab-rows span:nth-child(3) {
    border: none;
}

select {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.files_tab img{
    width:100px;
    height:100px;
}
.files_tab #uploadImg{ 
    font-size:12px; 
    color: #fff;
    overflow:hidden;
    padding:3px 10px;
    background-color: #5cb85c;
    border-color:#5cb85c;
}
.files_tab #uploadImg a{
    color:#fff;
}
.files_tab #uploadImg.padd{
    padding:5px 10px;
}
.files_tab input[type=file]{
    width: 75px;
    overflow: hidden;
    position:absolute; 
    z-index:100; 
    font-size:60px;
    opacity:0;
    filter:alpha(opacity=0); 
    margin-top:-5px;
}
html,body,section.ng-scope{
    width: 100%;
    height: 100%;
}
div.box{
    height: 88%;
}
header{
    padding:15px;
    position: relative;
}
header,footer{
    height: 6%;
    background-color: #428BCA; 
}
header a{
    color: #fff;
    position: absolute;
    top: 30%;
}
header a:hover{
    color: #fff;
}
header .pull-right{
    position: absolute;
    right: 50px;
    top: 28%;
}
header .pull-right a{
    position: relative;
    top: 30%;
}
.footerwrapper{
    width: 100%;
    color:#fff;
    position: relative;
}
.footerwrapper .text-center{
    position: absolute;
    top:30%;
    left: 42%;
}
.headerwrapper{
    background-color: #428BCA;
    width: 100%;
    height: 10%;
}

.headerwrapper:after {
    clear: both;
    display: block;
    content: '';
}
/***** 3.1 HEADER LEFT *****/

.headerwrapper .header-left {
    width: 9.5%;
    padding: 14px 15px;
    float: left;
}

.headerwrapper .header-left .logo {
    display: inline-block;
    margin-top: 5px;
    float: left;
    color: #fff;
    font-size: 16px;
}
.leftpanel {
    width: 9.4%;
    background-color: #fff;
    border:1px solid #e7e7e7;
    border-top:none;
    border-bottom: none;
}

.leftpanel .profile-left {
    padding: 15px;
    min-height: 90px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    margin-right: 1px;
}

.leftpanel .profile-left .profile-thumb {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #5cb85c;
    padding: 2px;
}

.leftpanel .profile-left .profile-thumb img {
    width: 50px;
}

.leftpanel .profile-left .media-heading {
    line-height: 18px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
}

.leftpanel .profile-left small {
    line-height: 18px;
}

.leftpanel .leftpanel-title {
    text-transform: uppercase;
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
    margin: 15px 15px;
}
/***** 4.1.1 LEFT PANEL NAVIGATION *****/

.leftpanel .nav {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.leftpanel .nav > li {
    margin: 0 1px 0 0;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #e7e7e7;
    position: relative;
}

.leftpanel .nav > li.active {
    border-top: 0;
    margin-right: 0;
}

.leftpanel .nav > li.active + li {
    border-top: 0;
}

.leftpanel .nav > li > a {
    color: #555;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 10px 15px;
}

.leftpanel .nav > li > a:hover,
.leftpanel .nav > li > a:focus,
.leftpanel .nav > li > a:active {
    background-color: #f7f7f7;
}

.leftpanel .nav > li.active > a,
.leftpanel .nav > li.active > a:hover {
    color: #fff;
    background-color: #428bca;
}

.leftpanel .nav > li > a i {
    display: none;
    width: 16px;
    margin-right: 5px;
    color: #428bca;
    font-size: 15px;
    top: 1px;
    position: relative;
    text-align: center;
}

.leftpanel .nav > li.active > a i {
    color: #fff;
}

.leftpanel .nav > li.parent:after {
    font-family: 'FontAwesome';
    content: '\f107';
    display: block;
    position: absolute;
    top: 12px;
    right: 22px;
    color: #ccc;
}

.leftpanel .nav > li.parent-focus > a {
    background-color: #f7f7f7;
}

/***** 4.2 MAIN PANEL STYLES *****/

.mainpanel {
    width: 90%;
    height: 100%;
    overflow-y: scroll;
}
/***** 4.2.1 CONTENT PANEL STYLES *****/

.contentpanel {
    position: relative;
    padding: 10px;
}
.panel-metro,
.panel-metro .panel-heading,
.panel-metro .panel-footer {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
/***** 9.7 SIGN IN/UP PAGE *****/

body.signin {
    background-color: #428bca;
}

.panel-signin,
.panel-signup {
    margin: 80px auto 0 auto;
}

.panel-signin {
    width: 400px;
}

.panel-signup {
    width: 600px;
}

.panel-signin .panel-body,
.panel-signup .panel-body {
    padding: 40px;
}

.panel-signin .panel-footer,
.panel-signup .panel-footer {
    padding-left: 40px;
    padding-right: 40px;
}

.nopadding {
    padding: 0;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.noborder {
    border: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3px;
}

.table > thead > tr > th{
    padding:8px;
}

.panel-title {
    font-size: 14px;
}

#signin h5 + .form-group {
    overflow: hidden
}

.panel-heading > .panel-btns {
    display: none!important
}

.cargoo-list .lab {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    line-height: 50%;
}

.cargoo-list table {
    width: 80%;
}
label {
    width: 60px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.panel {
    border-color: #ccc;
}
    
.ml100 {
    margin-left: 100px;
}

.input-group.mb15{
    margin-bottom: 15px;
}
