<div class="contentpanel">
    <div class="panel-body">
        <form class="form-inline">
            <a class="btn btn-success btn-sm">添加</a>
        </form>
    </div>
    <div class="cargoo-list">
        <div class="lab">汽油</div>
        <table class="table table-bordered">
            <tr>
                <td>1424546</td>
                <td><a class="text-info">删除</a></td>
            </tr>
            <tr>
                <td>222222</td>
                <td><a class="text-info">删除</a></td>
            </tr>
            <tr>
                <td>333333333</td>
                <td><a class="text-info">删除</a></td>
            </tr>
            <tr>
                <td>333333333</td>
                <td><a class="text-info">删除</a></td>
            </tr>
        </table>
    </div>
    <div class="cargoo-list">
        <div class="lab">菜油</div>
        <table class="table table-bordered">
            <tr>
                <td>1424546</td>
                <td><a class="text-info">删除</a></td>
            </tr>
            <tr>
                <td>222222</td>
                <td><a class="text-info">删除</a></td>
            </tr>
            <tr>
                <td>333333333</td>
                <td><a class="text-info">删除</a></td>
            </tr>
        </table>
    </div>
    <div class="cargoo-list">
        <div class="lab">其他</div>
        <table class="table table-bordered">
            <tr>
                <td>142454sss6</td>
                <td><a class="text-info">删除</a></td>
            </tr>
        </table>
    </div>
    <div class="panel-footer cargoo-page">
        <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="basicTable" tabindex="0">
                <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="basicTable" tabindex="0"><a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="basicTable" tabindex="0"><a href="#">2</a>
            </li>
            <li class="paginate_button " aria-controls="basicTable" tabindex="0"><a href="#">3</a>
            </li>
            <li class="paginate_button " aria-controls="basicTable" tabindex="0"><a href="#">4</a>
            </li>
            <li class="paginate_button " aria-controls="basicTable" tabindex="0"><a href="#">5</a>
            </li>
            <li class="paginate_button " aria-controls="basicTable" tabindex="0"><a href="#">6</a>
            </li>
            <li class="paginate_button next" aria-controls="basicTable" tabindex="0" id="basicTable_next"><a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>
