<div class="contentpanel">
    <div class="panel-body">
        <form ng-submit="search()" class="form-inline" name="searchForm">
            <div class="form-group">
                <select name="activate" ng-model="option.activate">
                    <option value="">全部状态</option>
                    <option value="0">停用</option>
                    <option value="1">使用中</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="请输入您要查找的车牌号" type="text" name="mobile" ng-model="option.mobile" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="请输入您要查找的手机号" type="text" name="mobile" ng-model="option.mobile" />
            </div>
            <input class="btn btn-primary btn-xs" type="submit" value="搜索" />
        </form>
    </div>
    <table class="table table-bordered tab-rows">
        <thead>
            <tr>
                <th>序号</th>
                <th>手机号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证</th>
                <th>公司名称</th>
                <th>车牌号</th>
                <th>车型</th>
                <th>车长/米</th>
                <th>车重/吨</th>
                <th>状态</th>
                <th>注册日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>112231</td>
                <td>12345667899</td>
                <td>tom</td>
                <td>男</td>
                <td>14575682258665489</td>
                <td>
                    <span>one</span>
                    <span>two</span>
                    <span>three</span>
                </td>
                <td>沪A2325</td>
                <td>轿车</td>
                <td>5</td>
                <td>20</td>
                <td>使用中</td>
                <td>2014-05-20</td>
                <td><a class="text-info">解冻</a></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
