<div class="contentpanel">
    <div class="panel-body user_d">
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>运单数总计</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>app自主运单数</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>电商系统运单数</dt>
                <dd>124346</dd>
            </dl>
        </div>
        <h4>状态统计</h4>
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>待分配</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>待确认</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>运送中</dt>
                <dd>124346</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <dl class="col-md-2">
                <dt>已送达</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>已评价</dt>
                <dd>124346</dd>
            </dl>
            <dl class="col-md-2">
                <dt>已撤销</dt>
                <dd>124346</dd>
            </dl>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
