<div class="contentpanel">
    <div class="panel-body">
        <form class="form-inline">
            <a class="btn btn-success btn-sm" href="#/tabs/scrollImageAdd">添加</a>
            <div class="form-group">
                <select name="state">
                    <option value="">全部状态</option>
                    <option value="">停用</option>
                    <option value="">使用中</option>
                </select>
            </div>
        </form>
    </div>
    <table class="table table-bordered files_tab">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>状态</th>
                <th>最后修改日期</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                <img ngf-src="files[0]" ngf-accept="'image/*'" ngf-default-src="/uploads/default.jpg">
                </td>
                <td>
                    <button id="uploadImg" class="btn btn-success btn-xs">
                        <input type='file' ng-model="files" ngf-change='upload($files)' ngf-select >
                        <a href="#">选择文件</a> 
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"> 上传</button>
                    <button type="button" class="btn btn-danger btn-xs">取消</button>
                </td>
                </td>
                <td>2015-05-25</td>
            </tr>
        </tbody>
    </table>
</div>