<div class="contentpanel">
    <div class="panel-body">
        <form class="form-inline">
            <a class="btn btn-success btn-sm" href="#/tabs/scrollImageAdd">添加</a>
            <div class="form-group">
                <select name="state" style="width:150px;height:30px;border-radius:3px;border:1px solid #ccc">
                    <option value="">全部状态</option>
                    <option value="">停用</option>
                    <option value="">使用中</option>
                </select>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>状态</th>
                <th>最后修改日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1123354564</td>
                <td>使用中</td>
                <td>2015-05-25</td>
                <td><a class="text-info">启用</a>|<a class="text-info">删除</a>|<a class="text-info">修改</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>1123354564</td>
                <td>使用中</td>
                <td>2015-05-25</td>
                <td><a class="text-info">启用</a>|<a class="text-info">删除</a>|<a class="text-info">修改</a></td>
            </tr>
        </tbody>
    </table>
</div>
