<section>
    <div class="mainwrapper">
        <div class="leftpanel">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>货主管理</span>
                    </a>
                </li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>司机管理</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>运单管理</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>货物管理</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>轮播图广告</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>消息推送</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>用户统计</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>运单统计</span></a></li>
                <li class=""><a href="#"><i class="fa fa-user"></i> <span>建议反馈</span></a></li>
            </ul>
        </div>
        <div class="mainpanel">
            <div ui-view></div>
        </div>
    </div>
</section>
